# ==========================================
# 1. Version Control & IDEs
# ==========================================
.git
.gitignore
.vscode
.idea
*.swp

# ==========================================
# 2. Dependencies & Package Managers
# ==========================================
node_modules/
venv/
.env
bin/
obj/

# ==========================================
# 3. Build Artifacts & Logs
# ==========================================
dist/
build/
*.log
npm-debug.log*

# ==========================================
# 4. Documentation & Tests
# ==========================================
docs/
tests/
.pytest_cache/